:root {
    --primary-color: #daa520; 
    --white-color: #ffffff;
    --black-color: #000000;
    --light-gray-color: #eeeeee;
    --secondary-color: #008000;
    --gap: 3rem;
}




/* intro>Home
   top3">Cadastrar */
